@import "variable";
@import "node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600');


*{
    padding: 0;
    margin: 0;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;
}



body{
    font-family: 'Montserrat', sans-serif;
    background: #fff;
    font-weight: 500;
    font-size: 1.5rem;
    color: #333;
} 

.navbar-c{
    background:$primary-color;
    // margin: 1.6rem !important
    padding: 1.2rem !important;
    font-size: 1.5rem !important;
}

.custom-ul li{
    text-transform: capitalize;
    letter-spacing: 1.5px;
    a{
    color: $primary-color-2;
    position: relative;
    transition: all .2s;

    &:before{
        content: " ";
        position: absolute;
        left: 0%;
        top: .2rem;
        height: .2rem;
        width: 0%;
        background-color: $secondary-color;
        transition: width 0.5s ease-in-out;
      }
      &:after{
        content: " ";
        position: absolute;
        right: 0%;
        bottom: .2rem;
        height: .2rem;
        width: 0%;
        background-color: $secondary-color;
        transition: width 0.5s ease-in-out;
      }
      
      &:hover,&:focus{
        background: -webkit-linear-gradient(45deg, #eb3349 0%, #f73859 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eb3349', endColorstr='#f73859',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
        &:before{
          width:50%
        }
        &:after{
          width:50%
        }
      }
    } 

    


}


.hero-section {
    background: #F3F3F3;

    &__text{
        display:flex !important;
        align-items:center !important;
        justify-content:center !important;
    }

    &__img-c{
        height: 70vh;
    }

    &__social{
        list-style: none;
    }

    &__social-list{
        display: inline;
        margin-right: 2rem;
    }

    &__social-link{
        text-decoration: none !important;
    }

    &__social-icon{
        width: 2.25rem;
        height: 2.75rem;
        fill:$primary-color-2;
        stroke: $secondary-color;
        stroke-width: 1px;
        stroke-dasharray: 125;
        stroke-dashoffset: -125;
        stroke-linecap: butt;
        transition: all 2s ease-out;
    }

    &__social-icon:hover{
        fill:$primary-color;
        stroke-dashoffset: 0;
        stroke-dasharray: 125;
    }

}

.hero-section-img-c {
    background-size: cover;
}

.norow{
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.nocol{
    padding-right:0 !important;
}

.img-c{
    background-color: #000 !important;
    opacity: .8 !important;
}




.services{
    background: #fff;
    
}

.card-c{
    background-color : #ededed !important;

}
