@import "variable";
@import "node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500i,600');

body{
    font-family: 'Montserrat', sans-serif;
    background: #fff;
    font-weight: 400;
} 

.navbar-c{
    background:$primary-color;
}

.custom-ul li{
    text-transform: capitalize;
    letter-spacing: 1.5px;
    a{
    color: $primary-color-2;
} 
}


.hero-section {
    background: #F3F3F3;
}
.hero-section-img-c {
    background-size: cover;
}

.norow{
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.nocol{
    padding-right:0 !important;
}

// .nopaddmarg{
//     padding-right: 0 !important;
//     margin-right: 0 !important;
// }

.hero-section-text{
    margin:  0 auto;
}



.img-c{
    background-color: #000 !important;
    opacity: .8 !important;
}


.services{
    background: #fff;
    
}

.card-c{
    background-color : #F3F3F3 !important;
}